[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/new"]
	path = themes/new
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "src/themes/ghost"]
	path = src/themes/ghost
	url = https://github.com/jbub/ghostwriter.git
